.selector-menu {
    border: 1px solid grey;
    box-shadow: 1px 1px 1px grey;
    z-index: 100;
    position: fixed;
    background-color: white;
}

.selector-close-menu-button:hover {
    cursor: pointer;
}