.avatar_sm {
    object-fit: cover;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.channel-members-list {
    list-style-type: none;
}

.channel-page-pic {
    object-fit: cover;
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
}

.channel-title {
    background-color: black;
    color: white;
    /* padding: 1px; */
    /* margin-top: 0 !important; */
}