html {
    overflow:   scroll;
    background-color: #1B1D21;
    font-size: 1.1rem;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.Layout {
    min-height: 100vh;
    margin: 0;
    /* background-color: rgb(250, 250, 250); */
    background-color: #1B1D21;
    color: white;
}

.navbar-container {
    /* background-color: yellow; */
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
    z-index: 50;
}

.app-container {
    /* position: relative;
    top: 48px;
    height: calc(100vh - 48px); */
    width: 100%;
    /* position: fixed; */
    /* top: 48px; */
    margin-top: 48px;
    min-height: calc(100vh - 48px);
}

.bright-hover:hover {
    cursor: pointer;
    color: rgb(2, 212, 2);
}