
.nav-bar {
    height: 48px;
    background-color: white;
}

.nav-item {
    color: rgb(46, 46, 46);
}

.nav-item:hover {
    cursor: pointer;
    color: rgb(2, 212, 2);
}

.nav-item-active {
    color: rgb(2, 212, 2);
}