.party-container {
  /* grid container settings */
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    'header'
    'main' */

    min-height: calc(100vh - 48px);
    background-color: lightblue;
    /* extra */
    position: fixed;
    top: 48px;
    width: 100%;
}

.party-header {
    height: 140px;
    min-height: 140px;
    position: fixed;
    top: 48px;
    width: 100%;
    left: 0;
    background-color: lightgreen;
    z-index: 99;
}

.party-room-body {
    height: calc(100vh - 188px);
    width: 100%;
    background-color: pink;
    /* margin-top: 188px; EXTRA change back and comment out the two below */
    position: fixed;
    top: 188px;
    /* z-index: 999; */
}


.party-control-button {
    color: grey;
}

.party-control-button:hover {
    cursor: pointer;
    color: rgb(2, 212, 2);
}


/* .party-header {
    flex-shrink: 0;
}

.party-room-body {
    flex-grow: 1;
    
}
.chat-feed {
    flex-grow: 1;
}

.chat-footer {
    flex-shrink: 0;
} */