.party-container {
    /* background-color: lightblue; */
    min-height: calc(100vh - 48px);
    position: fixed;
    top: 48px;
    width: 100%;
}

.party-header {
    /* background-color: lightgreen; */
    height: 140px;
    min-height: 140px;
    position: fixed;
    top: 48px;
    width: 100%;
    left: 0;
    z-index: 99;
}

.party-room-body {
    /* background-color: pink; */
    height: calc(100vh - 188px);
    width: 100%;
    position: fixed;
    top: 188px;
}


.party-control-button {
    color: grey;
}

.party-control-button:hover {
    cursor: pointer;
    color: rgb(2, 212, 2);
}

.party-avatar {
    object-fit: cover;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}