.chatroom-container {
    /* background-color: red; */
    width: 100%;
    font-size: .8rem;
}

.chat-feed {
    /* background-color: orange; */
    height: calc(100vh - 338px); 
    overflow-y: scroll;
    margin: 0 0 150px; 
    width: 100%;
    padding-top: 10px;
}


.chat-footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* 100% of page width */
    padding: 15px; /* standard edge margin (15px) */
    height: 150px; /* space for input height (38px) + bottom padding (15px) */
}

.chat-message-form {
    width: 100%;
}

.chat-text-input-window {
    width: 80vw;
}



.message-button {
    color: grey;
    margin: 0 10px;
}

.message-button:hover {
    color: rgb(2, 212, 2);
    cursor: pointer;
}

.message-time {
    font-size: .6rem;
    color: grey;
}

.status-ticker {
    height: 20px;
}
