.chatroom-container {
    /* height: calc(100vh - 100px); */
    position: relative;
    

    /* grid container settings */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto ;
    grid-template-areas: 
        'feed'
        'footer'
}

.chat-feed {
    grid-area: feed;
    height: calc(100vh - 172px); /* vpace for fixed navbar (48px), "main" (71px), footer (53px) */
  overflow-y: scroll; /* vertical scroll for the message feed */
}

.chat-footer {
    grid-area: footer;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* 100% of page width */
    padding: 0 15px 15px 15px; /* standard edge margin (15px) */
    height: 200px; /* space for input height (38px) + bottom padding (15px) */
    background-color: #fff;
}

.chat-message-form {
    width: 100%;
}

.chat-text-input-window {
    width: 80vw;
}